.container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;


    input {
        margin: 1rem 0;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;

    }

    .btn {
        background-color: #039a28;
        margin: 1rem 0;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    button {
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: #0095ff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}


